<li class="nav-header">Glossary</li>
<li><a href="#Bundle">Bundle</a></li>
<li><a href="#Controller">Controller</a></li>
<li><a href="#DomainModel">Domain Model</a></li>
<li><a href="#eBX">eBX</a></li>
<li><a href="#eBXClient">eBX Client</a></li>
<li><a href="#eBXCore">eBX Core</a></li>
<li><a href="#Entity">Entity</a></li>
<li><a href="#HATEOAS">HATEOAS</a></li>
<li><a href="#HTTP">HTTP</a></li>
<li><a href="#JAXB">JAXB</a></li>
<li><a href="#MarketingProduct">Marketing Product</a></li>
<li><a href="#MasterProduct">Master Product</a></li>
<li><a href="#Message">Message</a></li>
<li><a href="#OSGI">OSGI</a></li>
<li><a href="#Ressource">Ressource</a></li>
<li><a href="#RESTBean">REST Bean</a></li>
<li><a href="#REST">REST</a></li>
<li><a href="#Schema">Schema</a></li>
<li><a href="#SmartReference">Smart Reference</a></li>
<li><a href="#eBXProductStructure">eBX product structure</a></li>
<li class="divider"></li>