# Mac OS X
.DS_Store

# gedit backup files
*~

# Maven
*overlays/
!apache-overlays/
*target/

# Eclipse project and settings files and directories
*.classpath
*.project
*.settings

# IntelliJ Idea files and directories
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

# artifacts of resources from Netbeans and jBPM/Activiti and Apache Solr
#solr
test-output
nb-configuration.xml
nbactions.xml
.bpmn
*.psd

.~lock.Dokumentation eBusiness Plugin.odm#
.~lock.CAE - Checkout.odt#
coremedia.log

# csv exported files #
*.stored
*.*.tmp

#netbeans configs
*nbproject/

# exclude mongo db
mongodb-osx-x86_64-3.0.0

#release plugin files
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
/ebx/bootstrap-branding/node_modules/

#flatten and sortpom files
.flattened-pom.xml
pom.xml.bak