<document itemId="documentRoot">
	<page itemId="pageRoot">
		<pageTemplate itemId="template">
			#include("pageTemplate.vm")
			#include("contact.vm")
			<container itemId="shipmentHeader" class="shipmentHeader">
				<paragraph>
					<text value="Rechnungsnummer: #xss("xmlattribute" $model.number)" class="subTitle" />
					<text value="Bestellnummer: #xss("xmlattribute" $model.orderNumber)" class="subTitle" />
					<text value="Bestelldatum: #xss("xmlattribute" $dateFormatter.format($model.orderDate))" class="subTitle" />
					<systemText value="Seite !page! von !totalPages!" />
				</paragraph>
			</container>
			<container itemId="recipientHeader" class="recipientHeader">
				<text value="#xss("xmlattribute" $translator.translate($model.address.salutation.internalName)) #xss("xmlattribute" $model.address.firstName) #xss("xmlattribute" $model.address.lastName)" />
				#if($model.address.additionalInfo)
				<text value="#xss("xmlattribute" $model.address.additionalInfo)" />
				#end
				<text value="#xss("xmlattribute" $model.address.street) #if($model.address.houseNumber)#xss("xmlattribute" $model.address.houseNumber)#end" />
				<text value="#xss("xmlattribute" $model.address.postCode) #xss("xmlattribute" $model.address.city)" />
			</container>
		</pageTemplate>
		<container itemId="mainContent" class="mainContent">
			<text value="Rechnung" class="title"/>
			<container class="shipmentSpacerTitle"/>
			<text value="Bonn, #xss("xmlattribute" $dateFormatter.today())" class="colRight" />
			<container itemId="spacer" class="spacer5"/>
			<table itemId="orderPositionTable" class="orderPositionTable">
				<tableColumn class="position">
					<tableCell class="orderPositionTableCell tableHeader">
					</tableCell>
					#foreach ( $invoiceItem in $model.invoiceItems.items)
					<tableCell class="orderPositionTableCell">
						<text value="#xss("xmlattribute" $invoiceItem.pos)" />
					</tableCell>
					#end
				</tableColumn>
				<tableColumn>
					<tableCell class="orderPositionTableCell tableHeader">
						<text value="Bezeichnung" />
					</tableCell>
					#foreach ( $invoiceItem in $model.invoiceItems.items)
					<tableCell class="orderPositionTableCell">
						<text value="#xss("xmlattribute" $invoiceItem.articleName)" />
						<text value="Artikel-Nr.: #xss("xmlattribute" $invoiceItem.articleId)" />
					</tableCell>
					#end
				</tableColumn>
				<tableColumn class="quantity">
					<tableCell class="orderPositionTableCell tableHeader">
						<text value="Menge" />
					</tableCell>
					#foreach ( $invoiceItem in $model.invoiceItems.items)
					<tableCell class="orderPositionTableCell">
						<text value="#xss("xmlattribute" $invoiceItem.quantity)" />
					</tableCell>
					#end
				</tableColumn>
				<tableColumn class="quantity">
					<tableCell class="orderPositionTableCell tableHeader">
						<text value="MwSt." />
					</tableCell>
					#foreach ( $invoiceItem in $model.invoiceItems.items)
					<tableCell class="orderPositionTableCell">
						<text value="#xss("xmlattribute" $priceFormatter.formatTaxRate($orderItem.tax))" />
					</tableCell>
					#end
				</tableColumn>
				<tableColumn class="unitPrice">
					<tableCell class="orderPositionTableCell tableHeader">
						<text value="Einzelpreis" class="priceCell" />
						<text value="Brutto" class="priceCell" />
					</tableCell>
					#foreach ( $invoiceItem in $model.invoiceItems.items)
					<tableCell class="orderPositionTableCell">
						<text value="#xss("xmlattribute" $priceFormatter.formatDecimal($invoiceItem.singlePriceGross, $invoiceItem.currency.symbol))" />
					</tableCell>
					#end
				</tableColumn>
				<tableColumn class="price">
					<tableCell class="orderPositionTableCell tableHeader">
						<text value="Summe" class="priceCell" />
						<text value="Brutto" class="priceCell" />
					</tableCell>
					#foreach ( $invoiceItem in $model.invoiceItems.items)
					<tableCell class="orderPositionTableCell">
						#set( $currencySymbol = $invoiceItem.currency.symbol )
						<text value="#xss("xmlattribute" $priceFormatter.formatDecimal($invoiceItem.sumPriceGross, $invoiceItem.currency.symbol))" />
					</tableCell>
					#end
				</tableColumn>
			</table>
			<table itemId="orderSummaryTable" class="orderSummaryTable">
				<tableColumn class="summaryPosition">
					<tableCell class="orderPositionTableCell">
						<text value="Summe" />
					</tableCell>
					<tableCell class="orderPositionTableCell">
						<text value="Versandkosten" />
					</tableCell>
					<tableCell class="orderPositionTableCell">
						<text value="Enth. MwSt." />
					</tableCell>
					<tableCell class="orderPositionTableCell tableHeader">
						<text value="Gesamtsumme" />
					</tableCell>
				</tableColumn>
				<tableColumn class="price">
					<tableCell class="orderPositionTableCell">
						<text value="#xss("xmlattribute" $priceFormatter.formatDecimal($model.total, $currencySymbol))" />
					</tableCell>
					<tableCell class="orderPositionTableCell">
						<text value="#xss("xmlattribute" $priceFormatter.formatDecimal($model.portage, $currencySymbol))" />
					</tableCell>
					<tableCell class="orderPositionTableCell">
						<text value="#xss("xmlattribute" $priceFormatter.formatDecimal($model.vat, $currencySymbol))" />
					</tableCell>
					<tableCell class="orderPositionTableCell tableHeader">
						<text value="#xss("xmlattribute" $priceFormatter.formatDecimal($model.grandTotal, $currencySymbol))" />
					</tableCell>
				</tableColumn>
			</table>
			<container itemId="spacer" class="spacer20"/>
			<text value="Ihre gewählte Zahlungsweise: #xss("xmlattribute" $translator.translate($model.paymentCategory))" />
			
			<!-- Ergaenzungstexte zur Zahlungsweise -->
			#if($model.paymentCategory == "CREDIT_CARD")
			<text value="Die Rechnung wurde bereits gezahlt." />
			#end
			#if($model.paymentCategory == "DEBIT_ENTRY")
			<text value="Die Rechnung wurde bereits gezahlt." />
			#end
			#if($model.paymentCategory == "INVOICE")
			<text value="Bitte zahlen Sie die Rechnung zum $dateFormatter.format($model.paidDue)." />
			<text value="Die Ware bleibt bis zur vollständigen Bezahlung unser Eigentum." />
			#end
			#if($model.paymentCategory == "TRANSFER")
			<text value="Der Rechnungsbetrag wurde bereits überwiesen." />
			#end
			
			#if($advertisement)
			<text value="#xss("xmlattribute" $advertisement)" />
			#end
		</container>
	</page>
	<overflowPage itemId="pageRoot" class="overflow">
		<pageTemplate itemId="template">
			#include("pageTemplate.vm")
			<container itemId="shipmentHeader" class="shipmentHeader">
				<paragraph>
					<text value="Rechnungsnummer: #xss("xmlattribute" $model.number)" class="subTitle" />
					<text value="Bestellnummer: #xss("xmlattribute" $model.orderNumber)" class="subTitle" />
					<text value="Bestelldatum: #xss("xmlattribute" $dateFormatter.format($model.orderDate))" class="subTitle" />
					<systemText value="Seite !page! von !totalPages!" />
				</paragraph>
			</container>
		</pageTemplate>
	</overflowPage>
</document>