#if($model && $model.shipmentOffer.shipmentMode.name)
    #if($asHtml)
        <table id="shipmentTable" class="tableNoBorder" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="inherit">
                        #if($model.shipmentOffer.shipmentMode.name eq "STANDARD")
                            <h3>Versand:&nbsp;</h3>Standard
                        #end
                        #if($model.shipmentOffer.shipmentMode.name eq "DHL")
                            <h3>Versand:&nbsp;</h3>DHL
                        #end
                        #if($model.shipmentOffer.shipmentMode.name eq "UPS")
                            <h3>Versand:&nbsp;</h3>UPS
                        #end
                        #if($model.shipmentOffer.shipmentMode.name eq "EXPRESS")
                            <h3>Versand:&nbsp;</h3>Express
                        #end
                    </td>
                </tr>
        </table>
    #else
#if($model.shipmentOffer.shipmentMode.name eq "STANDARD")
Versand: Standard
#end
#if($model.shipmentOffer.shipmentMode.name eq "DHL")
Versand: DHL
#end
#if($model.shipmentOffer.shipmentMode.name eq "UPS")
Versand: UPS
#end
#if($model.shipmentOffer.shipmentMode.name eq "EXPRESS")
Versand: Express
#end
    #end
#end

